/* CSS Document */
.input-group-field {
  display: table-cell;
  border-collapse: collapse;
  vertical-align: middle;
  border-radius:4px;
}
.input-group-field .form-control, .input-group-field .form-control {
  border-radius: inherit !important;
}
.input-group-field:not(:first-child):not(:last-child) {
  border-radius:0;
}
.input-group-field:not(:first-child):not(:last-child) .form-control {
  border-left-width: 0;
  border-right-width: 0;
}
.input-group-field:last-child {
  border-top-left-radius:0;
  border-bottom-left-radius:0;
}

